*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

header h1{
    display: inline;
    font-size: 3em;
}

h1, 
#logo{
    line-height: 80px;
    vertical-align: middle;
    margin-left: 10px;
}

main{
    width: 65%;
    margin: 30px auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
}

/* UTILITY */

.bg-white {
    background-color: white;
}

.bg-blue{
    background-color: #47adf1;
}

.f-white{
    color: white;
}

.b-radius7{
    border-radius: 7px;
    line-height: 30px;
    text-align: center;
    font-size: 0.9em;
    padding: 10px 16px;
    margin-right: 20px;
}

.p-left80{
    padding: 10px 80px;
}

.bg-green{
    background-color: #68c2ac;
}

.bg-violet{
    background-color: #9c72e4;
}

.bg-orange{
    background-color: #f29e33;
}

.bg-fuxia{
    background-color: #d863a1;
}

.bg-lightgreen{
    background-color: #b0c926;
}

/* UTILITY */

#container-buttons{
    border-bottom: 2px solid #f6f8f9; 
}

.add-section {
    border: 1px solid #c9cfd3;
    color: #c9cfd3;
}

ul > li {
    margin-top: 20px;
}

.tasks::before{
    content: '\25BC';
    font-size: 0.6em; 
    vertical-align: middle;
    line-height: 20px;  
}

.tasks{
    font-size: 1.8em;
    color: #444851;
    margin-top: 80px;
}

.check::before{
    content: '\2713';
    color: #68c2ac;
    border: 1px solid #68c2ac;
}

.check, 
.cross{
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.cross::before{
    content: '\2717';
    color: #eb5952;
    border: 1px solid #eb5952;
}

.cross::before,
.check::before {
    display: inline-block;
    font-size: 25px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.category {
    display: inline-block;
    text-align: center;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 0.7em;
    line-height: 30px;
}


